html {
  font-family: "Sailec-Light";
  font-size: 100%;
}
body {
  font-size: 1rem;
}
.debug [class*="col-"] {
  border: 1px solid black;
  height: 200px;
}
.nav.navbar-nav a {
  color: #031b4e;
}
.navbar.navbar-default {
  margin-bottom: 0;
}
.navbar img {
  width: 150px;
  margin-top: -4px;
}
.nav.navbar-nav.navbar-right button:nth-child(odd) {
  border: none;
  background-color: transparent;
  color: #031b4e;
  font-size: 1rem;
}
.nav.navbar-nav.navbar-right button:last-child{
  border: 1px solid #006aff;
  color: #006aff;
}
.nav.navbar-nav.navbar-right a, .nav.navbar-nav li a {
  color: #031b4e;
  font-size: 1rem;
}
header .navbar-default .navbar-toggle {
   border: none;
   color: #006aff;
}
header .navbar-default .navbar-toggle .icon-bar {
  background-color: #006aff;
}
.jumbotron {
  background-image: url(../img/background-bg.svg);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron input, .jumbotron button {
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  border-color: none;
  width: 80%;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 10px;
}
.jumbotron input {
  padding: 10px;
}
.jumbotron .create-account {
  background-color: #006aff;
  color: white;
  padding: 5px;
}
.jumbotron .sign-up {
  padding: 5px;
  background-color: white;
  border: none;
  color: gray;
  box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.1);
  position: relative;
}
.jumbotron h1 {
  color: white;
}
.jumbotron p {
  color: lightgray;
}
.jumbotron form h1:first-child {
  color: #031b4e;
  padding-top: 20px;
  font-size: 3rem;
}
.jumbotron form h1:nth-child(2) {
  color: #006aff;
  margin-top: 10px;
  font-size: 2rem;
}
.jumbotron form p {
  color: #031b4e;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 12px;
}
.jumbotron form {
  background-color: white;
  border-radius: 10px;
  text-align: center;
}
.googlesvg {
  height: 20px;
  position: absolute;
  left: 2%;
}
